* {
  margin: 0;
  padding: 0;
  height: 100%;
}

main,
body {
  background-color: #e9edc9;
}

/* header styling */
.homeScreen {
  background-color: #ccd5ae;
  min-width: 100%;
  height: 85%;
}

#welcome {
  padding-top: 200px;
  text-align: center;
  font-size: 95px;
  font-family: "opensans-bold", sans-serif;
  color: #d4a373;
  height: 15%;
}

#introduction {
  text-align: center;
  font-size: 95px;
  font-family: sans-serif;
  color: #b68c62;
  height: 15%;
  padding-top: 100px;
}

.highlight {
  background-color: #fefae0;
}

#softDev {
  text-align: center;
  font-size: 30px;
  font-family: Garamond;
  color: #d4a373;
  height: 15%;
  padding-top: 120px;
}

.diagonal {
  background-color: #e9edc9;
  height: 30%;
}

.diagonal:after {
  content: "";
  position: absolute;
  background-color: #ccd5ae;
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
  clip-path: polygon(170% 100%, 100% 0, 0 0);
  height: 30%;
  width: 100%;
}
/* nav styling */
.navv {
  height: 50px;
  text-align: center;
  background-color: #fefae0;
  position: fixed;
  z-index: 2;
  width: 100%;
  color: #d4a373;
}

.navList,
a {
  display: inline;
  padding: 10px;
  text-decoration: none;
  color: #d4a373;
  text-align: center;
  display: inline-block;
  font-family: "opensans-bold", sans-serif;
  font-size: 20px;
}

/* about me styling */

#aboutMe {
  background-color: #e9edc9;
  padding-top: 140px;
  height: 80%;
}

.wrapper {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

.flex-row {
  display: flex;
}

#profPic {
  height: auto;
  max-width: 23%;
  border-radius: 200px;
}

.me1 {
  color: black;
  font-family: Garamond;
  font-size: 30px;
  height: 10%;
  width: 40%;
  float: right;
  margin-right: 350px;
}

.me {
  height: 70%;
  width: 70%;
  float: right;
  color: black;
  font-family: sans-serif;
  font-size: 21px;
  margin-right: 0;
  line-height: 1.5;
}

/* portfolio styler */
#portfolio {
  background: #faedcd;
  padding-top: 90px;
  padding-bottom: 60px;
}

.projects {
  color: #91987b;
  text-align: center;
  font-family: sans-serif;
  font-size: 18px;
  height: 10%;
  margin-top: 10px;
  margin-bottom: 5px;
}

.work {
  min-height: 220px;
  max-height: 220px;
  min-width: 280px;
  max-width: 280px;
  margin: 20px;
  margin-top: 0;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
  background-size: 375px;
}

.work:hover {
  background-color: rgba(235, 233, 233, 0.815);
}

.projectTitle {
  height: 10%;
}

.col {
  height: 50%;
}

/* footer styling */
footer {
  height: 4%;
  background-color: #d4a373;
}

.footerText {
  color: #fefae0;
  font-family: "opensans-bold", sans-serif;
  text-align: center;
  padding-bottom: 3px;
}
